<div style="height: 100%; display: flex; flex-direction: column; justify-content: center">
  <div style="display: flex; height: 100%; padding: 30px; justify-content: center;">
    <div #boardElm [hidden]="threeD" id="board" style="width: 600px; height: 100%;"></div>
    <div #boardElm [hidden]="!threeD" id="board3" style="width: 600px; height: 100%;"></div>
    <div style="display: flex; flex-direction: column; height: 100%; width: 400px">
      <div><textarea [(ngModel)]="pgn" style="height: 400px; width: 100%;"></textarea></div>
      <div>
        <button (click)="start()" [disabled]="loaded !== pieces.length">Read PGN</button>
        <button (click)="pause()" *ngIf="timeout">Pause</button>
        <button (click)="resume()" *ngIf="playable">Resume</button>
        <button (click)="set3d(true)" *ngIf="!threeD">3D View</button>
        <button (click)="set3d(false)" *ngIf="threeD">2D View</button>
      </div>
      <div>{{text}}</div>
    </div>
  </div>
</div>
